<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="kCura.Config" version="9.5.90.51" targetFramework="net45" />
  <package id="kCura.Crypto" version="9.5.90.51" targetFramework="net45" />
  <package id="kCura.Data.RowDataGateway" version="9.5.90.51" targetFramework="net45" />
  <package id="kCura.EventHandler" version="9.5.90.51" targetFramework="net45" />
  <package id="kCura.Utility" version="9.5.90.51" targetFramework="net45" />
  <package id="Relativity.API" version="9.5.90.51" targetFramework="net45" />
  <package id="Relativity.Authentication.Interfaces" version="9.5.90.51" targetFramework="net45" />
  <package id="Relativity.Logging.Interfaces" version="9.4.300" targetFramework="net45" />
</packages>